{% load static %}
<!-- templates/upload.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Archivo_zip</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
</head>
<body>
    <div class="container-fluid">
        <h2>Página 2</h2>
          <div class="container mb-3">
            <a class="btn btn-primary" style="text-decoration:none;"  href="reset/">LIMPIAR</a>
            <a class="btn btn-primary" style="text-decoration:none;" onclick="history.back()"><--VOLVER </a>
          </div>
    </div>

    <link rel="stylesheet" href="{% static 'js/bootstrap.min.js'%}">
</body>
</html>
