<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">


   <style>

    .row{ 
        background-color: coral;
        border: 3px solid rgb(110,73,5);
        padding: 5px;
        margin: 10px;
    }

    .col{ 
        background-color: green;
        color: white;
        border: 2px solid #640328;
        font-size: 50px;
    }

   </style> 


</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            columna 1
        </div>
        <div class="col">
            columna 2
        </div>
    </div>

    <div class="row">
        <div class="col">
            columna 1
        </div>
        <div class="col">
            columna 2
        </div>
        <div class="col">
            columna 3
        </div>
    </div>

</div>







    <link rel="stylesheet" href="{% static 'js/bootstrap.min.js'%}">
</body>
</html>